* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  color: #fff;
  background-color: #3172b9;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  padding: 15px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.section-heading {
}
.text-center {
  text-align: center;
}

.header {
  height: 110px;
}
.header-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}
.logo-img {
}
.nav {
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
}
.header-btn {
  margin-left: 80px;
}

.hero-container {
  padding: 120px 0 130px;
}
.hero-content {
  max-width: 50%;
}
.section-hero-heading {
  margin-bottom: 20px;
}
.section-hero-description {
  margin-bottom: 30px;
}
.section-hero-btn-description {
  margin-top: 10px;
}
.section-hero-ssl-item {
}
.section-do {
  padding: 140px 0 100px;
}

.section-description {
  margin-top: 25px;
}
.section-do-list {
  margin-top: 50px;
  display: flex;
}
.section-do-item {
  flex: 1 1 25%;
}
.section-do-item:not(:last-child) {
  margin-right: 30px;
}
.section-do-icon {
}

.section-do-item-heading {
}
.section-do-item-description {
}
.section-clients {
  padding: 90px 0 100px;
}
.section-clients-list {
  display: flex;
}
.section-clients-item {
  flex: 1 1 33.33%;
}
.section-clients-item:not(:last-child) {
  margin-right: 30px;
}
.section-clients-testimonial {
}
.section-clients-user {
  display: flex;
  align-items: center;
}
.section-clients-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #3172b9;
  border-radius: 50%;
  margin-right: 15px;
}
.section-clients-user-info {
}
.section-clients-username {
}
.section-clients-user-description {
}
.section-contacts {
  padding: 75px 0 95px;
}
.section-contacts-list {
  margin-top: 43px;
  display: flex;
}
.section-contacts-item:not(:last-child) {
}
.section-contacts-item {
  flex: 1 1 33.33%;
}
.section-contacts-icon {
  display: block;
  margin-bottom: 25px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}
.section-contacts-icon-gps {
  background-image: url(../img/gps.svg);
}
.section-contacts-icon-phone {
  background-image: url(../img/phone.svg);
}
.section-contacts-icon-mail {
  background-size: auto 19px;
  background-image: url(../img/mail.svg);
}
.section-contacts-heading {
  display: inline-block;
  margin-bottom: 40px;
}
.section-contacts-info {
  max-width: 250px;
}
.section-contacts-link {
}
.footer {
  height: 125px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 25px;
}
.footer-logo-img {
}
.footer-copyrihgts {
}
.footer-right {
}
.footer-nav {
}
.footer-list {
  display: flex;
}
.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}
.footer-nav-link {
}
.footer-social-list {
}
.footer-social-item {
}
.footer-social-link {
}
.footer-social-icon {
}
