/* open-sans-300 - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-v35-cyrillic-300.woff2') format('woff2'),
    url('../fonts/open-sans-v35-cyrillic-300.ttf') format('truetype');
}
/* open-sans-regular - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v35-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v35-cyrillic-regular.ttf') format('truetype');
}
/* open-sans-600 - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v35-cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v35-cyrillic-600.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}
html {
  font-family: 'Open Suns', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  color: #fff;
  background-color: #3172b9;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}
.btn.btn-big {
  padding: 20px 60px;
}
.text-center {
  text-align: center;
}

.section-heading {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
  color: #414141;
  margin-top: 0;
  margin-bottom: 25px;
}

.header {
  height: 110px;
  border-bottom: 1px solid #e4e4e4;
}
.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
}
.nav {
}
.nav-list {
  display: flex;
  margin: auto;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item {
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
}
.nav-link {
  color: #1c1c1c;
}
.nav-item.is-active .nav-link {
  color: #3172b9;
}
.header-btn {
  margin-left: 40px;
}

.section-hero {
  background: url('../img/Hero.jpg') right center no-repeat #fff;
  background-size: cover;
}
.hero-container {
  padding: 120px 0 130px;
}
.hero-content {
  max-width: 50%;
}
.section-hero-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  color: #1c1c1c;
}
.section-hero-description {
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 25px;
  color: #787878;
}
.section-hero-action {
  display: inline-block;
}
.section-hero-btn-description {
  margin-top: 10px;
  font-size: 11px;
  line-height: 1;
  color: #787878;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-hero-ssl-item {
  display: inline-block;
  width: 13px;
  height: 17px;
  background: url('../img/ssl.svg') center center no-repeat transparent;
  background-size: contain;
  margin-right: 10px;
  transform: translateY(-1px);
}

.section-do {
  padding: 140px 0 100px;
  border-bottom: 1px solid #e4e4e4;
}
.section-description {
  margin-top: 0px;
  font-style: 16px;
  line-height: 1.31;
  color: #787878;
}
.section-do-list {
  margin-top: 50px;
  display: flex;
}
.section-do-item {
  flex: 1 1 25%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
}
.section-do-item:not(:last-child) {
  margin-right: 30px;
}
.section-do-icon {
  margin-bottom: 30px;
}

.section-do-item-heading {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #1c1c1c;
}
.section-do-item-description {
  text-align: center;
  margin-top: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #787878;
}

.section-clients {
  border-bottom: 1px solid #e4e4e4;
  padding: 90px 0 100px;
}
.section-clients-heading {
  margin-bottom: 45px;
}
.section-clients-list {
  display: flex;
}
.section-clients-item {
  flex: 1 1 33.33%;
  border: 1px solid #e4e4e4;
  padding: 50px 35px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-clients-item:not(:last-child) {
  margin-right: 30px;
}
.section-clients-testimonial {
  margin-top: 0;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #787878;
  margin-bottom: 35px;
}
.section-clients-user {
  display: flex;
  align-items: center;
  padding-top: 28px;
  border-top: 1px solid #e9e9e9;
}
.section-clients-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #3172b9;
  border-radius: 50%;
  margin-right: 15px;
}
.section-clients-user-info {
}
.section-clients-username {
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color: #1c1c1c;
}
.section-clients-user-description {
  font-size: 14px;
  line-height: 25px;
  color: #1c1c1c;
}

.section-contacts {
  border-bottom: 1px solid #e4e4e4;
  padding: 75px 0 95px;
}
.section-contacts-list {
  margin-top: 43px;
  display: flex;
}
.section-contacts-item:not(:last-child) {
}
.section-contacts-item {
  flex: 1 1 33.33%;
}
.section-contacts-icon {
  display: block;
  margin-bottom: 25px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}
.section-contacts-icon-gps {
  background-image: url(../img/gps.svg);
}
.section-contacts-icon-phone {
  background-image: url(../img/phone.svg);
}
.section-contacts-icon-mail {
  background-size: auto 19px;
  background-image: url(../img/mail.svg);
}
.section-contacts-heading {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 1;
  color: #1c1c1c;
}
.section-contacts-info {
  max-width: 250px;
  font-size: 14px;
  line-height: 25px;
  color: #787878;
}
.section-contacts-link {
  color: #787878;
}

.footer {
  height: 125px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-right,
.footer-left {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 25px;
}
.footer-logo-img {
}
.footer-copyrihgts {
  font-size: 12px;
  line-height: 17px;
  color: #787878;
}
.footer-nav {
  margin-right: 55px;
}
.footer-list {
  display: flex;
}
.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}
.footer-nav-item {
  font-size: 14px;
  line-height: 1;
}
.footer-nav-link {
  color: #787878;
}
.footer-social-list {
  display: flex;
  align-items: center;
}
.footer-social-item:not(:last-child) {
  margin-right: 30px;
}
.footer-social-link {
}
.footer-social-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
}
.footer-social-icon-twitter {
  background-image: url(../img/Twitter.svg);
  width: 18px;
  height: 15px;
}
.footer-social-icon-linkedin {
  background-image: url(../img/Linkedin.svg);
  width: 18px;
  height: 19px;
  transform: translateY(-2px);
}
.footer-social-icon-mail {
  background-image: url(../img/Email.svg);
  width: 24px;
  height: 17px;
}
